*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Rubik",sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2ef;
    height: 3.6rem;
    padding: 0 70px;
    /* border: 2px solid black; */
    padding-top: 20px;
}

.main-nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.6rem;
}

.main-nav-link{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.1rem;
}
.main-nav-link:hover,
.main-nav-link:active{
    Color: #e67e22;
}

.nav-cta{
    padding: 1rem 1.2rem;
    border-radius: 6px;
    background-color: #e67e22;
    color: #000;
}
.nav-cta:hover{
    color: #000;
}

.logo{
    height: 2rem;
}
.section-hero{
    background-color: #fdf2ef;
}
.hero{
    max-width: 120rem;
    display: grid;
    padding: 10px 70px;
    grid-template-columns: 1fr 1fr;
    /* background-color: rebeccapurple; */
}
.btn:link, .btn:visited{
    display: inline-block;
    background-color: #e67e22;
    font-size: 1rem;
    margin: 5px;
    font-weight: 600;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    border-radius: 6px;
    transition: all 1s;
}
.btn--full{
    color: #fff;
}
.btn--full:hover{
    background-color: #b95e0e;
}
.btn--outline:link,
.btn--outline:visited
{
    background-color: #fff;
    color: #000;
}
.btn--outline:hover{
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #fff;
}

.heading-primary{
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 1.1;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
    margin-top: 9rem;
}

.hero-description{
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img{
    width: 100%;
}
.delivered-meals{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.6;
}
.delivered-imgs{
    display: flex;
}
.delivered-imgs img{
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    margin-right: -0.8rem;
}
.delivered-description{
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 1.4rem;
}

.section-how{
    padding: 9.6rem 0;
    background-color: orangered;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.grid{
    display: grid;
    gap: 9.6rem;

}

.grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols{
    grid-template-columns: repeat(3, 1fr);
}

.section-how div{
    padding: 100px;
    font-size: 50px;
}

.section-how div:nth-child(1){
    background-color: aqua;
}
.section-how div:nth-child(2){
    background-color: blue;
}
.section-how div:nth-child(3){
    background-color: purple;
}
.section-how div:nth-child(4){
    background-color: maroon;
}